<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ppppp.dao.FaceMapper">
  <resultMap id="BaseResultMap" type="ppppp.bean.Face">
    <id column="face_id" jdbcType="INTEGER" property="faceId" />
    <result column="face_name_id" jdbcType="INTEGER" property="faceNameId" />
    <result column="pic_id" jdbcType="VARCHAR" property="picId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="ppppp.bean.Face">
    <result column="face_encoding" jdbcType="LONGVARCHAR" property="faceEncoding" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    face_id, face_name_id, pic_id
  </sql>
  <sql id="Blob_Column_List">
    face_encoding
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="ppppp.bean.FaceExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_face
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="ppppp.bean.FaceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_face
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_face
    where face_id = #{faceId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_face
    where face_id = #{faceId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ppppp.bean.FaceExample">
    delete from t_face
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ppppp.bean.Face">
    insert into t_face (face_id, face_name_id, pic_id, 
      face_encoding)
    values (#{faceId,jdbcType=INTEGER}, #{faceNameId,jdbcType=INTEGER}, #{picId,jdbcType=VARCHAR}, 
      #{faceEncoding,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ppppp.bean.Face">
    insert into t_face
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="faceId != null">
        face_id,
      </if>
      <if test="faceNameId != null">
        face_name_id,
      </if>
      <if test="picId != null">
        pic_id,
      </if>
      <if test="faceEncoding != null">
        face_encoding,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="faceId != null">
        #{faceId,jdbcType=INTEGER},
      </if>
      <if test="faceNameId != null">
        #{faceNameId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        #{picId,jdbcType=VARCHAR},
      </if>
      <if test="faceEncoding != null">
        #{faceEncoding,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ppppp.bean.FaceExample" resultType="java.lang.Long">
    select count(*) from t_face
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_face
    <set>
      <if test="record.faceId != null">
        face_id = #{record.faceId,jdbcType=INTEGER},
      </if>
      <if test="record.faceNameId != null">
        face_name_id = #{record.faceNameId,jdbcType=INTEGER},
      </if>
      <if test="record.picId != null">
        pic_id = #{record.picId,jdbcType=VARCHAR},
      </if>
      <if test="record.faceEncoding != null">
        face_encoding = #{record.faceEncoding,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_face
    set face_id = #{record.faceId,jdbcType=INTEGER},
      face_name_id = #{record.faceNameId,jdbcType=INTEGER},
      pic_id = #{record.picId,jdbcType=VARCHAR},
      face_encoding = #{record.faceEncoding,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_face
    set face_id = #{record.faceId,jdbcType=INTEGER},
      face_name_id = #{record.faceNameId,jdbcType=INTEGER},
      pic_id = #{record.picId,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ppppp.bean.Face">
    update t_face
    <set>
      <if test="faceNameId != null">
        face_name_id = #{faceNameId,jdbcType=INTEGER},
      </if>
      <if test="picId != null">
        pic_id = #{picId,jdbcType=VARCHAR},
      </if>
      <if test="faceEncoding != null">
        face_encoding = #{faceEncoding,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where face_id = #{faceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ppppp.bean.Face">
    update t_face
    set face_name_id = #{faceNameId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=VARCHAR},
      face_encoding = #{faceEncoding,jdbcType=LONGVARCHAR}
    where face_id = #{faceId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ppppp.bean.Face">
    update t_face
    set face_name_id = #{faceNameId,jdbcType=INTEGER},
      pic_id = #{picId,jdbcType=VARCHAR}
    where face_id = #{faceId,jdbcType=INTEGER}
  </update>
</mapper>