<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ppppp.dao.PictureMapper">
  <resultMap id="BaseResultMap" type="ppppp.bean.Picture">
    <id column="path" jdbcType="VARCHAR" property="path" />
    <result column="pid" jdbcType="VARCHAR" property="pid" />
    <result column="pname" jdbcType="VARCHAR" property="pname" />
    <result column="pcreatime" jdbcType="VARCHAR" property="pcreatime" />
    <result column="GPS_Longitude" jdbcType="VARCHAR" property="gpsLongitude" />
    <result column="GPS_Latitude" jdbcType="VARCHAR" property="gpsLatitude" />
    <result column="pwidth" jdbcType="INTEGER" property="pwidth" />
    <result column="pheight" jdbcType="INTEGER" property="pheight" />
    <result column="psize" jdbcType="DOUBLE" property="psize" />
    <result column="plabel" jdbcType="VARCHAR" property="plabel" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="ppppp.bean.Picture">
    <result column="pdesc" jdbcType="LONGVARCHAR" property="pdesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    path, pid, pname, pcreatime, GPS_Longitude, GPS_Latitude, pwidth, pheight, psize, 
    plabel
  </sql>
  <sql id="Blob_Column_List">
    pdesc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="ppppp.bean.PictureExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="ppppp.bean.PictureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_pic
    where path = #{path,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_pic
    where path = #{path,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="ppppp.bean.PictureExample">
    delete from t_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ppppp.bean.Picture">
    insert into t_pic (path, pid, pname, 
      pcreatime, GPS_Longitude, GPS_Latitude, 
      pwidth, pheight, psize, 
      plabel, pdesc)
    values (#{path,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{pname,jdbcType=VARCHAR}, 
      #{pcreatime,jdbcType=VARCHAR}, #{gpsLongitude,jdbcType=VARCHAR}, #{gpsLatitude,jdbcType=VARCHAR}, 
      #{pwidth,jdbcType=INTEGER}, #{pheight,jdbcType=INTEGER}, #{psize,jdbcType=DOUBLE}, 
      #{plabel,jdbcType=VARCHAR}, #{pdesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="ppppp.bean.Picture">
    insert into t_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="path != null">
        path,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="pname != null">
        pname,
      </if>
      <if test="pcreatime != null">
        pcreatime,
      </if>
      <if test="gpsLongitude != null">
        GPS_Longitude,
      </if>
      <if test="gpsLatitude != null">
        GPS_Latitude,
      </if>
      <if test="pwidth != null">
        pwidth,
      </if>
      <if test="pheight != null">
        pheight,
      </if>
      <if test="psize != null">
        psize,
      </if>
      <if test="plabel != null">
        plabel,
      </if>
      <if test="pdesc != null">
        pdesc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pcreatime != null">
        #{pcreatime,jdbcType=VARCHAR},
      </if>
      <if test="gpsLongitude != null">
        #{gpsLongitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLatitude != null">
        #{gpsLatitude,jdbcType=VARCHAR},
      </if>
      <if test="pwidth != null">
        #{pwidth,jdbcType=INTEGER},
      </if>
      <if test="pheight != null">
        #{pheight,jdbcType=INTEGER},
      </if>
      <if test="psize != null">
        #{psize,jdbcType=DOUBLE},
      </if>
      <if test="plabel != null">
        #{plabel,jdbcType=VARCHAR},
      </if>
      <if test="pdesc != null">
        #{pdesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ppppp.bean.PictureExample" resultType="java.lang.Long">
    select count(*) from t_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_pic
    <set>
      <if test="record.path != null">
        path = #{record.path,jdbcType=VARCHAR},
      </if>
      <if test="record.pid != null">
        pid = #{record.pid,jdbcType=VARCHAR},
      </if>
      <if test="record.pname != null">
        pname = #{record.pname,jdbcType=VARCHAR},
      </if>
      <if test="record.pcreatime != null">
        pcreatime = #{record.pcreatime,jdbcType=VARCHAR},
      </if>
      <if test="record.gpsLongitude != null">
        GPS_Longitude = #{record.gpsLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.gpsLatitude != null">
        GPS_Latitude = #{record.gpsLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.pwidth != null">
        pwidth = #{record.pwidth,jdbcType=INTEGER},
      </if>
      <if test="record.pheight != null">
        pheight = #{record.pheight,jdbcType=INTEGER},
      </if>
      <if test="record.psize != null">
        psize = #{record.psize,jdbcType=DOUBLE},
      </if>
      <if test="record.plabel != null">
        plabel = #{record.plabel,jdbcType=VARCHAR},
      </if>
      <if test="record.pdesc != null">
        pdesc = #{record.pdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update t_pic
    set path = #{record.path,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      pcreatime = #{record.pcreatime,jdbcType=VARCHAR},
      GPS_Longitude = #{record.gpsLongitude,jdbcType=VARCHAR},
      GPS_Latitude = #{record.gpsLatitude,jdbcType=VARCHAR},
      pwidth = #{record.pwidth,jdbcType=INTEGER},
      pheight = #{record.pheight,jdbcType=INTEGER},
      psize = #{record.psize,jdbcType=DOUBLE},
      plabel = #{record.plabel,jdbcType=VARCHAR},
      pdesc = #{record.pdesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_pic
    set path = #{record.path,jdbcType=VARCHAR},
      pid = #{record.pid,jdbcType=VARCHAR},
      pname = #{record.pname,jdbcType=VARCHAR},
      pcreatime = #{record.pcreatime,jdbcType=VARCHAR},
      GPS_Longitude = #{record.gpsLongitude,jdbcType=VARCHAR},
      GPS_Latitude = #{record.gpsLatitude,jdbcType=VARCHAR},
      pwidth = #{record.pwidth,jdbcType=INTEGER},
      pheight = #{record.pheight,jdbcType=INTEGER},
      psize = #{record.psize,jdbcType=DOUBLE},
      plabel = #{record.plabel,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ppppp.bean.Picture">
    update t_pic
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="pname != null">
        pname = #{pname,jdbcType=VARCHAR},
      </if>
      <if test="pcreatime != null">
        pcreatime = #{pcreatime,jdbcType=VARCHAR},
      </if>
      <if test="gpsLongitude != null">
        GPS_Longitude = #{gpsLongitude,jdbcType=VARCHAR},
      </if>
      <if test="gpsLatitude != null">
        GPS_Latitude = #{gpsLatitude,jdbcType=VARCHAR},
      </if>
      <if test="pwidth != null">
        pwidth = #{pwidth,jdbcType=INTEGER},
      </if>
      <if test="pheight != null">
        pheight = #{pheight,jdbcType=INTEGER},
      </if>
      <if test="psize != null">
        psize = #{psize,jdbcType=DOUBLE},
      </if>
      <if test="plabel != null">
        plabel = #{plabel,jdbcType=VARCHAR},
      </if>
      <if test="pdesc != null">
        pdesc = #{pdesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where path = #{path,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="ppppp.bean.Picture">
    update t_pic
    set pid = #{pid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      pcreatime = #{pcreatime,jdbcType=VARCHAR},
      GPS_Longitude = #{gpsLongitude,jdbcType=VARCHAR},
      GPS_Latitude = #{gpsLatitude,jdbcType=VARCHAR},
      pwidth = #{pwidth,jdbcType=INTEGER},
      pheight = #{pheight,jdbcType=INTEGER},
      psize = #{psize,jdbcType=DOUBLE},
      plabel = #{plabel,jdbcType=VARCHAR},
      pdesc = #{pdesc,jdbcType=LONGVARCHAR}
    where path = #{path,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="ppppp.bean.Picture">
    update t_pic
    set pid = #{pid,jdbcType=VARCHAR},
      pname = #{pname,jdbcType=VARCHAR},
      pcreatime = #{pcreatime,jdbcType=VARCHAR},
      GPS_Longitude = #{gpsLongitude,jdbcType=VARCHAR},
      GPS_Latitude = #{gpsLatitude,jdbcType=VARCHAR},
      pwidth = #{pwidth,jdbcType=INTEGER},
      pheight = #{pheight,jdbcType=INTEGER},
      psize = #{psize,jdbcType=DOUBLE},
      plabel = #{plabel,jdbcType=VARCHAR}
    where path = #{path,jdbcType=VARCHAR}
  </update>
</mapper>